{{>header}}
<div style="height: 400px;" class="d-flex justify-content-center align-items-center">
    <h1>Thank you for Shopping</h1>
</div>
<div class="d-flex justify-content-center">
    <a href="/shoes/Kids?page=1" class="explore-link">Explore more</a>
</div>